# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Virtual environments
venv/
env/

# IDEs e editores
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db
